{% extends 'layout.html' %}
{% block content %}
<div class="header-blue">
    <div class="container hero">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h1>This is random pairs generator!</h1>
            <p>The idea for this project came from christmas lottery, when a group of people was about to decide who would buy a present for whom. This is the most optimum way to use this project, but there could be more use cases.<br></p>
            <button class="btn btn-light btn-lg action-button" onclick="location.href='https://github.com/marcinkaczmarek10/pairs_generator_flask'">Learn More</button>
        </div>
        <div class="image">
            <img src="/static/presents.jpg">
        </div>
    </div>
</div>

{% endblock %}