body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-heading {
  font-size: 2.5rem;
}

.center {
  margin: 0;
  position:relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: 0px;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 160px;
}

.wave .shape-fill {
    fill: #08192E;
}

.bgcolor.scrolled {
    background-color: #111127E;
    transition: background-color 200ms linear;
}

.spacer {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.nav-scrolled {
  background-color: #111127E !important;
  transition: background-color 200ms linear;
}